@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(../public/assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../public/assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../public/assets/fonts/static/Inter-SemiBold.ttf);
}

@layer components {
  html,
  body,
  #root {
    @apply h-full;
  }
}
